
.panelbottom
  .content_bottom
    .trai
      img(src='/Content/images/letf_bottom.jpg')
    .thongtin
      span.tentruong TR&#x1AF;&#x1EDC;NG &Dstrok;&#x1EA0;I H&#x1ECC;C S&#x1AF; PH&#x1EA0;M K&#x1EF8; THU&#x1EAC;T TP.HCM
      br
      span S&ocirc;&#x301; 1 Vo&#x303; V&abreve;n Ng&acirc;n , Qu&acirc;&#x323;n Thu&#x309; &Dstrok;&#x1B0;&#x301;c, TP.HCM
      br
      span &Dstrok;i&#x1EC7;n tho&#x1EA1;i: (84-8) 37221223
    .phai
      img(src='/Content/images/right_bottom.jpg')
  .version
    .info_ver
      a(href='#')
        | B&#x1EA3;n quy&#x1EC1;n (C) 2022 TR&#x1AF;&#x1EDC;NG &Dstrok;&#x1EA0;I H&#x1ECC;C S&#x1AF; PH&#x1EA0;M K&#x1EF8; THU&#x1EAC;T TP.HCM - Ph&aacute;t tri&#x1EC3;n
        | b&#x1EDF;i PSC UIS
