extends base

block content
    main.main.error-wrong
      .error
        .error__title
          h1.heading-secondary.heading-secondary--error Uh oh! Something went wrong!   
          h1.error__emoji 😢 🤯
        .error__msg= msg